* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: Poppins;
  width: 100%;
  height: 100%;
  background: linear-gradient(204deg, #6ac2c4, #ee661c, #35b7f5, #f70ddb);
  background-size: 240% 240%;
  animation: gradient-animation 10s ease infinite;
  user-select: none;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Styling for Main */
.main {
  /* border: 2px solid red; */
  height: 100%;
  position: relative;
}

.container {
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: min(90%, 600px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1rem;
}

/* Header Section */
h1 {
  display: inline-block;
  width: 90%;
  font-weight: 500;
  font-size: 1.5rem;
  padding: 0.8rem;
  letter-spacing: -1px;
  line-height: 2rem;
}

.upDown {
  font-size: 1.5rem;
}

/* Form Section Styling */

form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 5px 20px;
  overflow: hidden;
  transition: all 0.3s ease;
}

form.collapse {
  visibility: hidden;
  height: 0;
  padding: 0;
  margin: 0;
}

label {
  padding: 5px;
  font-size: 1.1rem;
}
input {
  padding: 8px;
  outline: none;
  /* border: 1px solid #35b7f5; */
  border-radius: 5px;
}

/* Button Section Styling */

form button {
  display: block;
  outline: none;
  margin: 1rem auto;
  padding: 0.8rem 0;
  font-size: 1.2rem;
  border-radius: 5px;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
  width: 25%;
  /* border: 1px solid #ee661c; */
}

button:active {
  transform: translateY(5px);
}
button:hover {
  background-color: #ee661c;
  color: white;
  border: none;
  transform: scale(1.1);
}
input::placeholder {
  font-style: italic;
}

/* Task list generate Styling */

.tasks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 1rem 1rem 1rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.taskItem {
  padding-left: 1rem;
}

.icons {
  padding-right: 1rem;
}

.icons i {
  cursor: pointer;
  margin-left: 1rem;
}

.ri-delete-bin-fill {
  color: red;
}

h2 {
  padding: 5px 0 2px 0;
  font-weight: normal;
  font-size: 1.3rem;
}

.line-break {
  height: 1px;
  width: 50%;
  background-color: grey;
}
p {
  padding: 2px 0;
}

footer {
  position: absolute;
  bottom: 4%;
  left: 50%;
  transform: translateX(-50%);
}

footer i {
  display: inline-block;
  font-size: 3rem;
  padding: 0 0.3rem;
  width: auto;
  cursor: pointer;
  transition: transform 0.5s ease;
}
footer a,
footer a:active {
  text-decoration: none;
  color: black;
}
footer i:hover {
  transform: scale(1.2);
}
