@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  color: white;
  font-family: Raleway;
}

body.light-mode {
  background-color: white;
  color: black;
}

nav {
  /* border: 2px solid red; */
  height: 3rem;
  /* position: relative; */
}
.flex {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.main {
  text-align: center;
}
#search {
  width: 80%;
  margin-top: 1rem;
  height: 2rem;
  opacity: 0;
  transform: translateY(-80px);
  transition: all 0.5s;
}

#search[placeholder] {
  font-style: italic;
  padding: 10px;
}

#search.show {
  transform: translateY(0px);
  opacity: 1;
}
.container {
  /* border: 2px solid red; */
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.container img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center;
}

h1 {
  font-size: 0.8rem;
}

p {
  padding: 10px 0;
}
.movie-detail {
  margin: 0 auto;
  border: 2px solid rgba(215, 215, 215, 0.2);
  border-radius: 10px;
  width: 180px;
  padding-bottom: 1rem;
}
button {
  padding: 2px 8px;
  cursor: pointer;
}
.popupContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(11, 11, 11, 0.8);
  visibility: collapse;
  display: flex;
  justify-content: center;
  align-items: center;
}
.popup {
  padding: 10px 0;
  position: relative;
  background-color: white;
  height: 90%;
  color: rgb(0, 0, 0);
}

.popupContainer.show {
  visibility: visible;
}
.popup i {
  position: absolute;
  right: 10px;
  cursor: pointer;
}

.popup p,
span {
  font-size: 0.5rem;
  line-height: 1px;
}

.popup img {
  width: 150px;
}
