@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  color: white;
  font-family: Raleway;
}

body.light-mode {
  background-color: white;
  color: black;
}

nav {
  height: 3rem;
  z-index: 5;
}
.flex {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.main {
  text-align: center;
}

#search {
  width: 60%;
  height: 2rem;
  transition: all 0.5s;
  margin-top: 1rem;
}

#search[placeholder] {
  font-style: italic;
  padding: 10px;
}
.SearchBox button {
  padding: 0.5rem 1rem;
  background-color: black;
  color: white;
  outline: none;
  border: 2px solid white;
  border-radius: 5px;
  transition: transform 0.5s;
}

.SearchBox button:active {
  transform: translateY(5px);
}

.SearchBox {
  /* border: 2px solid red; */
  visibility: hidden;
  opacity: 0;
  height: 0;
  transition: all 0.5s ease-in-out;
}

.SearchBox.show {
  transform: translateY(0px);
  visibility: visible;
  opacity: 1;
  height: auto;
}
.container {
  padding: 0 1rem;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.container img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center;
}

h1 {
  font-size: 0.8rem;
}

p {
  padding: 10px 0;
}
.movie-detail {
  border: 2px solid rgba(215, 215, 215, 0.2);
  border-radius: 10px;
  width: 180px;
  padding-bottom: 1rem;
  margin-bottom: 10px;
}
button {
  padding: 2px 8px;
  cursor: pointer;
}
.popupContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(11, 11, 11, 0.8);
  visibility: collapse;
  display: flex;
  justify-content: center;
  align-items: center;
}
.moreInfo {
  /* border: 2px solid red; */
  padding: 10px;
  position: relative;
  background-color: white;
  color: black;
  width: 90%;
}

.popupContainer.show {
  visibility: visible;
}
.moreInfo i {
  position: absolute;
  right: 10px;
  cursor: pointer;
}
.moreInfo i:hover {
  background-color: black;
  color: white;
}

.moreInfo p {
  /* border: 2px solid red; */
  font-size: 0.8rem;
  margin: 5px 0;
  line-height: 1px;
}

.moreInfo h6 {
  font-size: 0.7rem;
}
.moreInfo h1 {
  font-size: 1.5rem;
  padding-top: 10px;
}

.moreInfo img {
  width: 150px;
}
