@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Montserrat;
  height: 100vh;
  background: url("night.jpg") no-repeat center center;
  background-size: cover;
  color: white;
}

.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main {
  min-width: 400px;
  min-height: 100px;
  background-color: rgba(84, 147, 241);
  border-radius: 8px;
  transition: all 0.5s ease-in-out;
}
.SearchArea {
  text-align: center;
}
input {
  width: 60%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  outline: none;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  padding: 0.6rem;
  background-color: rgb(0, 62, 156);
  color: white;
  outline: none;
  border: none;
  margin-left: 0.5rem;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}

button:hover {
  background-color: rgb(23, 114, 249);
}
button:active {
  transform: translateY(5px);
}
.data {
  width: 10rem;
}

.line {
  height: 5rem;
  border: 1px solid rgb(84, 147, 241);
}

.current-weather {
  /* margin-top: 1rem; */
  display: grid;
  /* grid-template-columns: 170px 120px;
  grid-template-rows: repeat(2, minmax(50px, auto)); */
}
.currTime {
  align-self: center;
  padding-left: 10px;
  margin-bottom: 10px;
}
.temp {
  grid-row: 2/3;
}
.extraInfo {
  grid-row: 2/3;
  padding: 5px;
}
span {
  position: relative;
  bottom: 1rem;
  font-size: 2.5rem;
  font-weight: 500;
}
p {
  font-size: 13px;
  line-height: 1rem;
  /* display: inline-block; */
}
#head {
  padding: 0.8rem 0;
  font-weight: 600;
}

.inputVal {
  margin-top: 1rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
}

#check {
  padding: 10px;
  font-size: 1.2rem;
  font-weight: 600;
}

.weather-forecast {
  min-width: max-content;
  min-height: max-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#detail {
  width: 100px;
  height: 100px;
  text-align: center;
  margin: 10px 0;
}
